.my-logo {
    text-align: left;
    padding: 20px 0;
    position: relative;
    top: 10px;
}
    
.my-logo img {
    max-width: 100%;
    height: auto;
}
    
.header-menu-class {
    list-style-type: none;
    text-align: right;
    position: relative;
    top: 10px;
}

.header-menu-class a {
    text-decoration: none;
    font-family: 'Space Mono';
    font-size: 16px;
    color: black;
    font-weight: 400 !important;
    text-transform: uppercase;   
}

.header-menu-class a:hover {
    font-weight: 700 !important;
}

.header-menu-class li {
    display: inline;
    margin-right: 20px;
}
    
.footer-menu-class {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 40px;
    padding-top: 15px;
    border-top: 1px solid;
}
    
.footer-menu-class li {
    display: inline;
    margin-right: 20px;
}

.footer-menu-class a {
    font-weight: 400;
    text-transform: uppercase;   
}

.footer-menu-class a:hover {
    font-weight: 700;
}

.entete {
    height: 80px;
    display: flex;
    width: 60%;
    justify-content: space-between;
    position: relative;
    left: 20%;
}

.menu-header {
    display: flex;
}
    
.sidenav.active img, .sidenav.active p{
    display: block;
}
  
.sidenav.hidden {
    display: none;
}

.sidenav.moved {
    transform: translateY(-1500px);  
}
  
.sidenav {
    right: -34.6%;
    opacity: 0;
    z-index: 1;
    height: 5598%;
    width: 169.2%;
    position: absolute;
    top: 94px;
    overflow: hidden;
    background-color: #E00000;
    transform: translateY(-300px); 
    transition: transform 0.5s ease, opacity 0.5s ease;  
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 64px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav.active {
    transform: translateY(0);  
    opacity: 1;  
}

.blocknav {
    display: flex;
    flex-direction: column;
}

.main-navigation {
    z-index: 1000;
    display: flex;
}

.burger-icon {
    position: relative;
    left: 65%;
}

.burger-icon span {
    position: relative;
    left: 0px;
    top: 17px;
    display: block;
    width: 40px;
    height: 2px;
    background-color: black;
    margin: 9px 0;
}

  
/* Styles pour transformer l'icône en croix */
.burger-icon.active span:nth-child(1) {
transform: rotate(45deg) translate(7px, 7px);
}

.burger-icon.active span:nth-child(2) {
opacity: 0;
}

.burger-icon.active span:nth-child(3) {
transform: rotate(-45deg) translate(7px, -7px);
}
