.index_background {
    width: 101.85%;
    height: 962px;
    background-size: cover;
    background-position: center;
    margin-top: -50px;
    margin-left: -17px;
}

.title_photo_event {
    display: flex;
    justify-content: center;
    font-family: 'Space Mono';
    font-weight: 700;
    font-style: italic;
    font-size: 96px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px white;
    color: transparent;
    padding-top: 400px;
}
  
.photo-box {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

#photo_section {
    width: 100%;
}

.groupe {
    width: 91%;
    padding-left: 170px;
}

.charger_plus {
    padding-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5%;
    color: black;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    border: none;
    border-radius: 3px;
    font-size: 12px;
    right: 17.5%;
    cursor: pointer;
    transition: all 0.3s ease; 
    transition-delay: 0.2s; 
}

.charger_plus:hover {
    color: white;
    background-color: black;
    transition-delay: 0s;
}

.btn_chargerplus {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
  
#filter-form {
    justify-content: center;
    display: flex;
    padding-top: 100px;
}

#category-select, #format-select, #order-select {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0.5%;
    padding-right: 7%;
    padding-top: 0.5%;
    padding-left: 1%;
    border-radius: 10px;
    border: 2px solid #B8BBC2;
    cursor: pointer;
}

#format-select {
    margin-right: 20%;
}

#category-select {
    margin-right: 2%;
}
