.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: -180px;
    width: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 597px; 
}

#myBtn {
    font-family: 'Space Mono';
    font-size: 16px;
    color: black;
    background-color: white;
    border: none;
    position: relative;
    top: -2px;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-image: url("../assets/Contactheader.png");
    color: white;
    padding-bottom: 105px;
    margin-top: 10px;
}

.modal-body {padding: 2px 16px;}
  .modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 5px solid black;
    width: 597px;
    height: 769px;
    bottom: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#wpcf7-f9-o1 {
    position: relative;
    left: 22%;
    padding-top: 20px;
}

#wpcf7-f9-o1 input {
    height: 40px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 10px;
    color: grey;
}

#wpcf7-f9-o1 textarea {
    height: 210px;
    border: 1px solid;
    border-radius: 10px;
    color: grey;
}

#wpcf7-f9-o1 label {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 18px;
}

#wpcf7-f9-o1 input[type="submit"]{
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 24%;
    padding-right: 24%;
    border-radius: 0px;
    color: black;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    border: none;
    border-radius: 3px;
}

@-webkit-keyframes animatetop {
    from {top: 300px; opacity: 0}
    to {top: 0; opacity: 1}
}
  
@keyframes animatetop {
    from {top: 300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#myBtn2 {
    position: relative;
    padding-left: 6%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 6%;
    color: black;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    border: none;
    border-radius: 3px;
    font-size: 12px;
    right: 17.5%;
    cursor: pointer;
    transition: all 0.3s ease; /* Animation fluide de transition */
    transition-delay: 0.2s; /* Délai de transition de 0.2 secondes */
}

#myBtn2:hover {
    color: white;
    background-color: black;
    transition-delay: 0s;
}