.flex-Description{
    justify-content: flex-end;
    border-bottom: 1px solid black;
}
.photo-info {
    display: flex;
    flex-direction: row;
}

.flex-Description ul {
    list-style-type : none;
    padding-left: 0;
    line-height: 1;
}

.flex-Photo {
    position: relative;
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-left: 10px;
    top: 15px;
}

.aimer_aussi {
    position: relative;
    width: 23%;
    font-family: 'Space Mono';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400 !important;
}

.arrow_left {
    text-align: center;
    padding: 0 10px;
}

.previous_next_post {
    position: relative;
    left: 13%;
}

.arrow_right {
    text-align: center;
    padding: 0 10px;
}

.detail-photo {
    text-transform: uppercase;
}

.deuxieme_partie {
    padding: 10px 0 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.contenu {
    width: 100%;
    max-width: 1190px;
    margin: auto;
    padding: 30px 20px 0;
    font-family: 'Space Mono';
  
}

.contenu ul {
    width: 80%;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flex-Description, .flex-Photo {
    max-height: 890px;
    width: 50%;
}

.flex-Description h1 {
    font-style: italic;
    font-weight: 400;
    font-size: 66px;
    line-height: 58px;
    width: 80%;
}

.previous-thumbnail {
    margin-right: 9%;
}
  
.photo_next_previous {
    justify-content: right;
}
  
.deux_post {
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 120px;
}
  
.troisieme_partie {
    padding-top: 40px;
}

.hidden-thumbnail {
    visibility: hidden;
}
